
h1{
		font-family: 'Georgia',sans-serif;
		color: #FF0000;
		text-align: center; 
		text-decoration: underline;
	}
	
h2{
		display:inline-block;
		margin-left:100px;
		font-family: 'Garamond',sans-serif;
		background-color: #F0F0F0;
		text-align: center; 
		text-decoration: underline;
	}
	
body { 
	background-color: white ;
	color: #404040;
	font-size: 11pt;
	font-family: Georgia, Garamond, sans-serif;
}
blockquote {
	font-style: italic;
	background-color: #FFFFC8;

}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3{
	font-style: italic;
	font-size: 25pt;
	font-family: Georgia, Garamond, sans-serif;
	text-align: left; 
}

.info{
	font-style: bold;
	font-size: 20pt;
	text-align: left; 
}

ul.b {
    list-style-type: square;
}

.main{
	text-align: center; 
	font-size: 25pt;

}
	
	

	
